<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="login-fondo">

    <div class="login-contenedor">
        <h1>Iniciar Sesión</h1>
         

        

        <form action="/login" method="POST">

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <button type="submit">Ingresar</button>
        </form>

       <% if (typeof error !== "undefined") { %>
            <p class="mensaje-error"><%= error %></p>
        <% } %>
    </div>

</div>

</body>
</html>
