<!DOCTYPE html>
<html lang="es">
<head>
   <link rel="stylesheet" href="/style.css">
  

  <title>Home- Tienda de Cafe</title>
</head>
<body>
  
      <header class="header Index">
    
         <h1><span>TIENDA</span><br> DE CAFÉ</h1>

         <button id="menu-btn">☰ Menú</button>
<ul id="navMenu">
  <li>Inicio</li>
  <li>Productos</li>
  <li>Contacto</li>
</ul>

 
</header>

  
<!--Inicio-->
  <section class="Inicio">
          <h3>Proba nuestras</h3>
          <h2>CAPSULAS</h2>
          <p>100% aluminio compatibles con máquinas Nespresso*</p>
          
  </section>  

  <!-- Lista dinámica -->
<section class="lista-productos"> 
  <p id="lista-productos"></p> 
  <h2>Cafes en PROMOCION</h2> <ul 
  id="productos"></ul> 
</section>


<!-- Temporizador -->
<section class="temporizador">
  <h2>Promoción termina en:</h2>
  <p id="contador"></p>

  <img src="https://static.vecteezy.com/system/resources/previews/007/731/432/non_2x/coffee-shop-offer-menu-design-save-50-coffee-free-vector.jpg" 
        width="300" alt="Oferta">
</section>


  <!--<section class="Cerca"> 
      <div>
          <h3>Tu café preferido</h3>
          <h2>SIEMPRE CERCA</h2>
          <p>
            Blends, varietales, cafés del mundo. <br>
            Encontrá tu Tienda más cercana y tentate con nuestros sabores.
          </p>
          <a href="https://tiendadecafe.com.ar/locales/">
            <button>ENCONTRANOS</button> </a>
      </div>    
  </section>

  <section class="Historia">
      <div>
          <h3>Desde 2017</h3>
          <h2>TOSTANDO TU CAFE</h2>
          <p>Años de experiencia cuidando cada paso del proceso</p>
      </div>
  </section>
-->

<!--Productos-->
  <section class="Productos">
      <h2>NUESTROS PRODUCTOS</h2>

      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/03/Productos_cafe_packs_BRASIL_frente.jpg" 
        width="300" alt="Cafe Brasil">
        <p>Cafe Brasil</p>
      </article>
   

      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/03/Productos_cafe_packs_BARISTA_frente.jpg" 
        width="300"   alt="Cafe Barista">
        <p>Cafe Barista</p>
      </article>


      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/03/Productos_cafe_packs_MINKA_frente.jpg" 
        width="300"  alt="Cafe Minka">
        <p>Cafe Minka</p>
      </article>


      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/03/Productos_cafe_packs_COLOMBIA_frente.jpg" 
        width="300" alt="Cafe Colombia">
        <p>Cafe Colombia</p>
      </article>

      
      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/03/Productos_cafe_packs_SCEGLIERE_frente.jpg"
        width="300" alt="Cafe Scegliere">
        <p>Cafe Scegliere</p>
      </article>

      <!--<article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/03/Productos_cafe_packs_descaf_frente.jpg"
        width="200" alt="Cafe Descafeinado">
        <p>Cafe Descafeinado</p>
      </article>

      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/04/capsulas_taza_barista.jpg"
        width="200" alt="Capsulas de Cafe Barista">
        <p>Capsulas de Cafe Barista</p>
      </article>

      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/04/capsulas_taza_scegliere.jpg"
        width="200" alt="Capsulas de Cafe Scegliere">
        <p>Capsulas de Cafe Scegliere</p>
      </article>

      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/04/capsulas_taza_colombia.jpg"
        width="200" alt="Capsulas de Cafe Colombia">
        <p>Capsulas de Cafe Colombia</p>
      </article>

      <article>
        <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/04/capsulas_taza_minka.jpg"
        width="200" alt="Capsulas de Cafe Minka">
        <p>Capsulas de Cafe Minka</p>
      </article>

      -->
  </section>


<!--Aprender-->
<section class="Aprender">

  <article>

      <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/04/bannerpromo_cafe_02_v2.jpg"
      width="450" alt="Secretos del Barista"> 
      <div class="overlay">
      <p>Aprende a hacer tu cafe como un experto</p>
      <h2>SECRETOS DEL BARISTA</h2>
      
      
      </div>
  </article>

    
  <article>

      <img src="https://tiendadecafe.com.ar/wp-content/uploads/2025/04/TIENDA-042400313-1-scaled-760x420.jpg" 
      width="450" alt="Platos">
      <div class="overlay">
      <p>Conoce todo lo que podes encontrar en nuestros locales</p>
      <h2>NUESTROS PLATOS</h2>
      
      
    </div>
  </article>

</section>


<!--Tipos de Cafes-->

 <section class="Tiposcafe">
   <h4>NUESTRO CAFE</h4>
   <h2>¿CUAL VAS A ELEGIR HOY?</h2>

   <div class="Columnas">

    <div class="Izquierda">
     
    <article>

      <h3>BARISTA</h3>
      <p>Nuestro tradicional house blend, el hijo prodigio de la casa. Granos provenientes de Brasil, nos permiten obtener este cafe pleno, de cuerpo medio, sin acidez ni amargor. Si lo vas a tomar en tu casa, te vas a sentir bien cerca de TIENDA.</p>

    </article>

    <article>

      <h3>SCEGLIERE</h3>
      <p>Una combinación única, lograda por la combinación de tres varietales: Brasil Santos Mogiana, Colombia Supremo y Moka. Un café de cuerpo medio, levemente acidulado y estructuralmente complejo.</p> 
   
    </article>

    <article>

      <h3>MINKA</h3>
      <p>Este blend nos regala un café de gran cuerpo, con un sabor especiado. Si sos amante del café intenso, te vas a enamorar de nuestro Minka.</p>
    </article>

    </div>

      <div class="Imagen">
      <img src="https://tiendadecafe.com.ar/wp-content/uploads/2021/04/packhome_01-768x634.jpg" alt="Combinacion de Cafes">
      </div>
    
    <div class="Derecha">
    <article>
      <h3>COLOMBIA</h3> 
      <p>Nuestro varietal clásico. Adentrate en las regiones colombianas con este café de cuerpo suave, gusto frutado, aroma floral y una delicada acidez. Inconfundible.</p>

    </article>

    <article>
      <h3>DESCAFEINADO</h3>
      <p>Si querés disfrutar un exquisito café, pero reducir tu dosis diaria de cafeína, este es tu blend! Café originario de Colombia, suave, de cuerpo medio y un aroma que te invita a probarlo. Recomendado para aquellas personas sensibles a la cafeína.</p>

    </article>

    <article>

      <h3>BRASIL</h3>
      <p>Un café de cuerpo suave, y baja acidez hacen de BRASIL el ideal para tus preparaciones de café filtrado.</p>

    </article>
    </div>
    </div>

</section>

<!--Sucursales-->

<section class="Sucursales">

   <h3>SIEMPRE HAY UNA </h3>    
   <h2>TIENDA CERCA TUYO</h2>
   

   

</section>


<!--Pie de pagina-->
<footer class="Footer">
  <div class="footer-columnas">
  <section class="footer-info">

      <h2>TIENDA DE CAFE</h2>

  </section>

  
  <section class="Footer-Formulario">
    <h3>¡SUSCRIBITE PARA RECIBIR DESCUENTOS Y NOVEDADES EXCLUSIVAS!</h3>

    <form action="/validar" method="post">
      <label>Tu nombre:</label>
      <input type="text" name="nombre" id="nombre" required>

      <label>Tu email:</label>
      <input type="email" name="email" id="email" required>

        <button type="submit">SUSCRIBIRME</button>
    </form>

  </section>
</div>

 <div class="Footer-copyright">
   <article>
    <p>© Copyright 2025 Tienda de Café - Todos los derechos reservados.</p>
  </article>  
  </div>

</footer>

<script src="/script.js"></script>
<script src="/validacion.js"></script>
</body>
</html>

